<h1>Results Page</h1>

<h2>You have searched for: <%= search %></h2>

<ul>
    <% data.Search.forEach(function(movie){ %>
        <li> 
            <h1><%= movie.Title %></h1>
            <img src=<%= movie.Poster %> 
        </li>
    <% }) %>
</ul>

<h1><a href="/">Search again</a></h1>